@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body, 
html {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
body::-webkit-scrollbar {
	display: none;
}
body {
	overflow-x: hidden;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
    background: #333;
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.three-container {
    position: absolute;
    width: 100%;
}

.container-settings {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
    z-index: 2;
    background-color: #333;
    height: 45px;
    display: none;
}

.title-trajectory {
    color: white;
    font-family: 'Inter', sans-serif;
}

.container-view {
    height: 33px;
    width: 33px;
    cursor: pointer;
}

.container-reset {
    height: 33px;
    width: 33px;
    cursor: pointer;
    margin-right: 5px;
}

.views {
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: gray;
    width: 40%;
    justify-content: space-around;
    left: 60%;
    height: 20%;
}

.actions {
    display: flex;
    flex-direction: row;
}

.view-image {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.img-trajectory {
    height: 100%;
    /* object-fit: contain; */
    width: 30px;
}

.img-reset {
    height: 100%;
    /* object-fit: cover; */
    border-radius: 8px;
    width: 30px;
}

.bowler-view, .slip-view, .stumps-view {
    color: white;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

/* old design css */
.graphFooter{
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: 0px;
}
#cmFilters{
    display: flex;
    flex-wrap: wrap;
    margin: 0 6%;
}
#cmFilters .innigfilt,
#cmFilters .bowlfilt,
#cmFilters .overfilt,
#cmFilters .batsfilt,
#cmFilters .wicketfilt,
#cmFilters .ballfilt{
    margin: 0 auto;
    width: 31%;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}
#cmFilters select,
.mywickets{
    padding: 5px 8px;
    width: 100%;
    margin-top: 3px;
    border: 1px solid #ff2100;
    border-radius: 4px;
    font-weight: 600;
    color: #050A5C;
    text-transform: uppercase;
    font-size: 16px;
    background: #fff;
    appearance: none;
    background-image: url('../public/selectbox_arrow.svg');
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 10px;
    background-size: 17px;
    padding-right: 40px;
}
.appfilt a{
    color: #fff;
    background-color: #FF2100;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    width: 32%;
}
.appfilt{
    margin: auto;
    display: flex;
    justify-content: center;
    margin: 0 7%;
    margin-top: 15px;
}
.graphFooter p{
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 700;
    margin-left: 7%;
    font-size: 18px;
}
.graphFooter label{
    color: #FF2100;
    font-weight: 700;
}
.textBallInfo{
    margin: 0px 0;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    background: #FF2100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
}
.graphFooter{
    background: #fff;
    color: #FF2100;
    padding-bottom: 10px;
    /* background-size: 100%; */
    text-transform: uppercase;
}
.buttons-angle-head{
    display: flex;
   justify-content: right;
   /* background-image: url('../public/bcci_desktop_ground.jpeg'); */
    background-position: bottom;
    background-size: 70%;
    padding: 5px 10px;
    margin-top: -50px;
}
.buttons-angle{
    display: flex;
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 5px;
}
.buttons-angle .anglechange{
    color:#fff;
    background-color: #050A5C;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    font-weight: 600;
    width: 90px;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.iplClass .buttons-angle .anglechange{
    background-color: #1250C9;
}
.iplClass #cmFilters select,
.iplClass .mywickets{
    color: #1250C9;
    background-image: url('../public/selectbox_arrow_ipl.svg');
}
.buttons-angle .anglechange:last-child{
    margin-right: 0;
}
.buttons-angle .anglechange.active{
    background-color: #FF2100;
}
.LockOn {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 105%;
    height: 100vh;
    background-color:white;
    vertical-align:bottom;
    filter: alpha(opacity=85); 
    opacity: 0.85; 
    font-size:large;
    color:blue;
    font-style:italic;
    font-weight:400;
    background-image: url("../public/loading-gif.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
@media screen and  (max-width: 767px){
    .graphFooter{
        width: 100%;
    }
    .textBallInfo{
        line-height: 20px;
        padding: 5px 5px;
        font-size: 18px;
        font-weight: 700;
        box-shadow: none;
        margin: 5px 5px;
        line-height: 23px;
    }
    #cmFilters .innigfilt,
    #cmFilters .bowlfilt,
    #cmFilters .overfilt,
    #cmFilters .batsfilt,
    #cmFilters .wicketfilt,
    #cmFilters .ballfilt{
        width: 93%;
    }
    #cmFilters select, .mywickets{
        border: 1px solid #FF2100;
        border-radius: 5px;
        font-size: 16px;
    }
    .graphFooter label{
        font-size: 14px;
    }
    .graphFooter p{
        margin-left: 12px;
        font-size: 18px;
        margin-top: 2px;
    }
    .appfilt a{
        width: 93%;
    }
    #cmFilters{
        margin: 0;
    }
    .appfilt{
        margin: 0;
        margin-top: 15px;
    }
    .buttons-angle-head{
        background-image: none;
        justify-content: center;
        padding: 5px 0px;
    }
    .buttons-angle{
        background: none;
        backdrop-filter: none;
        border-radius: 0;
        width: 100%;
        justify-content: space-evenly;
    }
    .buttons-angle .anglechange{
        background-color: #fff;
        color: #050A5C;
        border: 1px solid #050A5C;
        border-radius: 5px; 
        box-shadow: none;
        width: 30%;
        font-weight: 600;
    }
    .iplClass .buttons-angle .anglechange{
        background-color: #fff;
        color: #1250C9;
    }
    .buttons-angle .anglechange.active{
        color: #fff;
        background: #FF2100;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
    }
    .graphFooter{
        bottom: -245px;
    }
    .graphFooter p{
        text-align: left;
        padding-top: 10px;
    }
    .buttons-angle-head{
        margin-top: 0;
    }
}
